{% extends 'base.html' %}
{% load custom_filters %}

{% block title_four %}
<h1 class="text-center mt-5">Materialliste - Thüring AG</h1>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <form method="post" action="{% url 'add_xls' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card shadow border-0 rounded">
      <div class="card-body">
        <div class="row">
          <div class="col">
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-success btn-block">Upload</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
